.all-projects {
    min-height: 100%;
    padding-bottom: 75px;
}

.picture {
    width: 50%;
    box-shadow: 5px 5px 5px grey;
}

.travel-keeper p,
.local-media p,
.the-dog-spot p {
    padding-top: 15px;
    margin: 0 auto;
    max-width: 65%;
}